.o_home_menu_background {
    background: linear-gradient(to right bottom, #77717e, #c9a8a9);

    &:before {
        content: '';
        background-image: url(/ui_color_palette/static/src/img/background.png);
        background-size: cover;
        @include o-position-absolute(0,0,0,0);
    }
}
